@model TravelBlog.Models.Person

@{
    ViewData["Title"] = "Person - Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>
<p>@Model.Description</p>

<p>@Html.ActionLink("Return to People", "Index", new { id = Model.ExperienceId})</p>