@model TravelBlog.Models.Experience

@{
    ViewData["title"] = "Experience - Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Model.Title</h1>
<p>@Model.Description</p>

<p>@Html.ActionLink("Return to Experiences", "Index", new { id = Model.LocationId })</p>

